<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- load any meta tags if they are available -->
    {{with .Meta}}
    {{range .}}{{.html}}{{end}}
    {{end}}
    <!-- load custom title -->
    {{with .Title}}
    <title>{{.}}</title>
    {{else}}
    <title>vince - modern reverse proxy for modern traffic</title>
    {{end}}
    <link rel="stylesheet" href="/assets/primer.css">
</head>

<body>
    <dir class="container-lg bg-gray-light">
        <dir class="d-flex flex-items-center flex-justify-between bg-gray py-3 pl-3 pr-4">
            <dir class="d-flex flex-items-center">
                <a href="/" class="mr-3 lh-condensed-ultra text-blue">
                    {{octicon "plug"}}
                    vince</a>
            </dir>
        </dir>